.vscode/
__pycache__/
*.pyc
*.pyo
*.db
*.pt
build/
devel/
logs/
# YOLO training outputs
Yolov5_StrongSORT/Yolov5_StrongSORT_OSNet/yolov5/runs/
Yolov5_StrongSORT/Yolov5_StrongSORT_OSNet/runs/

# YOLO weight files
Yolov5_StrongSORT/Yolov5_StrongSORT_OSNet/**/*.pt
